<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href='/static/css/style.css'>
    <title>{{title}}</title>
</head>
<body>
<h1 class="alert alert-success" role="alert">Vk.com Statistics</h1>
<br>
<center style="font-size: 44px;">Activities</center>
<table class="table bg-light">
    <tbody>
    <tr>
        <td>Likes</td>
        <td>{{actv[2]}}</td>
    </tr>
    <tr>
        <td>Comments</td>
        <td>{{actv[1]}}</td>
    </tr>
    <tr>
        <td>Subscribed</td>
        <td>{{actv[0]}}</td>
    </tr>
    </tbody>
</table>
<br>
<center style="font-size: 44px;">Ages</center>
<table class="table bg-secondary">
    <tbody>
    {% for item in ages %}
    <tr>
        <td>{{item['value']}}</td>
        <td>{{item['count']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<center style="font-size: 44px;">Cities</center>
<table class="table bg-info">
    <tbody>
    {% for item in city %}
    <tr>
        <td>{{item['name']}}</td>
        <td>{{item['count']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>